<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/index.css">
    <title>Document</title>
    
</head>
<body>

    <div class="navbar">
        <img src="../public/img/nestle.png" alt="" width="265px">
    </div>

    <div class="container">
        <div class="imgBox">
                <div class="img-container">
                    <div class="card">
                  <div class="img-slide">
                    <img src="../public/img/alpino.png"alt="" width="200px">
                    <div class="text"> Alpino, uma opção irresistível.<br>
                         O sabor inconfundível <br>
                         e a textura suave<br>
                          vão fazer você se deliciar <br>
                          em cada mordida</div>
                  </div></div>
        <div class="imgBox1">
                         <div class="card">
                  <div class="img-slide2">
                    <img src="../public/img/crunch.png"alt=""width="200px">
                    <div class="text">Crunch é a escolha certa. 
                       <br> Experimente essas delícias e <br>
                       deixe seu paladar encantado <br>com sua
                       crocancia e sabor</div>
                  </div>
                  </div>
        <div class="imgBox2">

                  <box class="card">
                  <div class="img-slide3">
                    <img src="../public/img/galak.png"alt=""width="180px">
                    <div class="cardtext">Para amantes do de chocolate branco<br>
                        Galak, com seu sabor doce e cremoso,<br>
                         é perfeito para você</div>
                  </div>
                </box>
            </div>
        </div>
        </div>
        
        <div class="imgBox3">    
            <img src="../public/img/ovoR.png" alt="" width="500px">
        </div>

</body>
</html>