<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/index.css">
    <title>Document</title>
    
</head>
<body>

    <div class="navbar">
        <img src="../public/img/kisspng-nestl-logo-business-cerelac-nestle-5b276c1da6bc18.220201181529310237683.png" alt="" width="265px">
    </div>

    <div class="container">
        <div class="imgBox">
            <img src="../public/img/Captura_de_tela_2023-03-27_171120-removebg-preview.png" alt="" width="200px">
            <img src="../public/img/Captura_de_tela_2023-03-27_171350-removebg-preview.png" alt="" width="200px">
            <img src="../public/img/Captura_de_tela_2023-03-27_171439-removebg-preview.png" alt="" width="200px">
        </div>
        
        <div class="imgBox2">    
            <img src="../public/img/Captura_de_tela_2023-03-27_170622-removebg-preview.png" alt="" width="500px">
        </div>

    </div>
</body>
</html>